@mixin centerall {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@mixin hero(
    $url,
    $gradient:
        linear-gradient(
            to right bottom,
            rgba($color-primary, 0.1),
            rgba($color-black, 0.4)
        )
) {
    height: 100vh;
    background-color: transparent;
    background-image: $gradient, url($url);
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
}
